name: Zampto Renew

on:
  workflow_dispatch:  # 手动触发
  schedule:
    - cron: '5 3 * * 3'  # 每周三
    - cron: '13 1 * * 0'  # 每周日
jobs:
  run-zampto:
    runs-on: ubuntu-latest

    steps:
      - name: 拉取代码
        uses: actions/checkout@v4

      - name: 检查 Secrets 是否设置
        run: |
          if [ -z "${{ secrets.USERNAME }}" ] || [ -z "${{ secrets.PASSWORD }}" ]; then
            echo "❌ USERNAME 或 PASSWORD 未设置，终止执行。"
            exit 1
          fi
          echo "✅ 账号信息已设置"
          if [ -z "${{ secrets.CHROME_PROXY }}" ]; then
            echo "⚠️ CHROME_PROXY 未设置"
          else
            echo "✅ CHROME_PROXY 已设置"
          fi
          
      - name: 执行 Zampto Renew 容器
        run: |
          docker run -i \
            -e USERNAME=${{ secrets.USERNAME }} \
            -e PASSWORD=${{ secrets.PASSWORD }} \
            -e TG_TOKEN=${{ secrets.TG_TOKEN }} \
            -e TG_USERID=${{ secrets.TG_USERID }} \
            -e CHROME_PROXY=${{ secrets.CHROME_PROXY }} \
            -v ${{ github.workspace }}/zampto_server.py:/app/zampto_server.py \
            -v ${{ github.workspace }}/requirements.txt:/app/requirements.txt \
            -v ${{ github.workspace }}/screenshots:/app/screenshots \
            ghcr.io/liveqte/zampto_renew:latest

      - name: 上传截图产物
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: screenshots
